torch>=1.9.0
torchvision>=0.10.0
numpy>=1.21.0
opencv-python>=4.5.0
matplotlib>=3.4.0
scipy>=1.7.0
filterpy>=1.4.5
lap>=0.4.0
imageio[ffmpeg]>=2.9.0
tqdm>=4.62.0
pycocotools>=2.0.4
timm==0.4.12
ninja
yacs
cython
scikit-image
gdown
fvcore
iopath
setuptools>=69.5.1
torch-dct>=0.1.6
pytorch_toolbelt>=0.6.0
